.app-header {
  width: 100vw;
  height: 24vh;
  display: flex;
  background-image: url('../../img/top.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.nav1 {
  width: 50%;
  height: 100%;
  color: black;
}

.nav2 {
  width: 50%;
  height: 100%;
  color: white;
}
