.text {color: white;}

.border {border: 1px solid white;
    margin-left: 8px
}


.ChatContainer {
    margin-top: 0;
    padding: 5%;
    height:90%;
    overflow: scroll;
    background-color: #342626
    
}

.ButtonContainerPreGame {
    position: fixed;
    width: 100vw;
    bottom: 8vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    left: 0;
right: 0;
background-color: #7d7575;
    text-align: center;
    justify-content: center;
    
}

.ChatContainerNadar {
    border: 2px solid grey;
    padding: 8px;
    margin-top: -4px;
    border-radius: 20px;
    color: white;
    background-color: #7d7575
}

.ChatContainerUser {
    border: 2px solid #e44d56;
    padding: 8px;
    margin-top: -4px;
    margin-left: auto;
    border-radius: 20px;
    color: white;
    background-color:   #e73e49
}


.Body {
    width: 100vw;
    height: 75vh;
    background-color: #342626
}

.bg {
    width: 100vw;
    height: 100vh;
    background-color: #342626
}


.Right {
    text-align: right;

}

.Left {
    padding-right: 15%;
    text-align: left;
}

.Start {padding-right: 15%;}

.ChatButton {

    border-radius: 10px;
    border: 6px solid black;
    background-color: black;
    color: white;
    margin: 5px;
    width: 22%;
    font-size: 0.9em;
    text-align: center;
    

}

.ButtonContainer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    left: 0;
right: 0;
background-color: #7d7575;
    text-align: center;
    justify-content: center;

}

.Blank {
    margin: 8vh;
    background-color: #342626
}

